<header class="clearfix">
  <h1>Флэшкарточкер</h1><br>
  
  <div id="nav">
    <% if current_user %>
      <ul class="navigation-links">
        <li><%= link_to "Все колоды",            decks_path %></li>
        <li><%= link_to "Все карточки",          cards_path %></li>
        <li><%= link_to "Добавить карточку",     new_card_path %></li>
        <li><%= link_to "Редактировать профиль", edit_profile_path %></li>
        <li><%= link_to "Выйти", logout_path, method: :post %></li>
      </ul>
    <% else %>
    <ul class="navigation-links">  
      <li><%= link_to "Зарегистрироваться", new_user_path %></li>
      <li><%= link_to "Войти", :login %></li>
    </ul>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
</header>