<!DOCTYPE html>


  <section id="container">

    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <li><%= link_to "Все карточки",        cards_path %></li>
        <li><%= link_to "Добавить карточку",   new_card_path %></li>
      </ul>
    </header>

    <section>
      <p style="font-size: 22px;">
         <%= yield %>
      </p>
      <div>
        <p>
          <strong>Слово:</strong><br>
          <%= @card.original_text %>

          <%= form_tag("/check_card", method: "get") do %>
            <strong><%= label(:user_answer, "Перевод:") %></strong><br>
                    <%= text_field_tag(:user_answer) %><br>
                    <%= submit_tag("Проверить") %>
          <% end %>
        </p>
      </div>  
    </section>
  </section>