<h1>Список всех колод</h1>

<table id='all-decks-list'>
  <tr>
    <th>Название колоды</th>
  </tr>

  <% @decks.each do |deck| %>
    <tr>
      <td><%= deck.title %></td>
      <td><%= link_to 'Редактировать', edit_deck_path(deck) %></td>
      <td>/</td>
      <td>
        <% if current_user.current_deck_id == deck.id %>
          <%= "Текущая колода" %>
        <% else %>
          <%= link_to 'Сделать текущей', set_current_deck_id_path(deck), method: :put %>
        <% end %>
      </td>
      <td>/</td>
      <td><% if !deck.current? current_user %>
          <%= link_to 'Удалить', deck_path(deck), 
                                 method: :delete, 
                                 data: { confirm: 'Вы уверены? Все карточки в этой колоде будут удалены.' } %>
          <% else %>
            <%= flash[:deck_message] %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Добавить колоду", new_deck_path %>