<h1>Список всех колод</h1>

<table id='all-decks-list'>
  <p><%= flash[:message] %></p>
  <tr>
    <th>Название колоды</th>
  </tr>

  <% @decks.each do |deck| %>
    <tr>
      <td><%= deck.title %></td>
      <td><%= link_to 'Редактировать', edit_deck_path(deck) %></td>
      <td>/</td>
      <% if deck.current? %>
        <td>Текущая колода</td>
        <td>/</td>
        <td>Нельзя удалить текущую колоду.</td>
      <% else %>
        <td>
          <%= link_to "Сделать текущей", set_current_deck_profile_path(current_deck_id: deck.id), method: :put %>
        </td>
        <td>/</td>
        <td>
          <%= link_to 'Удалить', deck_path(deck),
                                 method: :delete,
                                 data: { confirm: 'Вы уверены? Все карточки в этой колоде будут удалены.' } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Добавить колоду", new_deck_path %>